In [3]:
num1 = int(input("첫 번째 정수를 입력하세요: "))
num2 = int(input("두 번째 정수를 입력하세요: "))

if num1 > num2:
  print(f"{num1}은(는) {num2}보다 큽니다.")
elif num1 < num2:
  print(f"{num1}은(는) {num2}보다 작습니다.")
else:
  print(f"{num1}과(와) {num2}은(는) 같습니다.")

첫 번째 정수를 입력하세요: 1234
두 번째 정수를 입력하세요: 12
1234은(는) 12보다 큽니다.

In [16]:
num1 = int(input("첫 번째 정수를 입력하세요: "))
print(f"첫 번째 수: {num1}")
num2 = int(input("두 번째 정수를 입력하세요: "))
print(f"두 번째 수: {num2}")
num3 = int(input("세 번째 정수를 입력하세요: "))
print(f"세 번째 수: {num3}")
max_num = num1
if num2 > max_num:
  print(f"두 번째 수 {num2}가 현재 최대값 {max_num}보다 큽니다. 최대값을 업데이트합니다.")
  max_num = num2
else:
  print(f"두 번째 수 {num2}는 현재 최대값 {max_num}보다 크지 않습니다.")
if num3 > max_num:
  print(f"세 번째 수 {num3}가 현재 최대값 {max_num}보다 큽니다. 최대값을 업데이트합니다.")
  max_num = num3
else:
  print(f"세 번째 수 {num3}는 현재 최대값 {max_num}보다 크지 않습니다.")

print(f"입력하신 세 수 {num1}, {num2}, {num3} 중에서 가장 큰 수는 {max_num}입니다.")

첫 번째 정수를 입력하세요: 1
첫 번째 수: 1
두 번째 정수를 입력하세요: 2
두 번째 수: 2
세 번째 정수를 입력하세요: 3
세 번째 수: 3
두 번째 수 2가 현재 최대값 1보다 큽니다. 최대값을 업데이트합니다.
세 번째 수 3가 현재 최대값 2보다 큽니다. 최대값을 업데이트합니다.
입력하신 세 수 1, 2, 3 중에서 가장 큰 수는 3입니다.

In [25]:
score = int(input("시험 점수 (0~100)를 입력하세요 : "))
if 0 <= score <= 100:
  if score >= 90:
    grade = "A"
  elif score >= 80:
    grade = "B"
  elif score >= 70:
    grade = "C"
  elif score >= 60:
    grade = "D"
  else:
    grade = "F"
  print(f"당신의 학점은 {grade}입니다.")
else:
  print("유효하지 않은 점수입니다. 0~100 사이의 점수를 입력하세요.")

시험 점수 (0~100)를 입력하세요 : 78
당신의 학점은 C입니다.

In [29]:
year = int(input("연도를 입력하세요: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print(f"{year}년은 윤년입니다.")
else:
  print(f"{year}년은 윤년이 아닙니다.")

연도를 입력하세요: 4000
4000년은 윤년입니다.

In [35]:
for i in range(1,7,2):
  print("반복!", i)

반복! 1
반복! 3
반복! 5

In [36]:
count = 0
while count < 3:
  print("반복 중:", count)
  count += 1

반복 중: 0
반복 중: 1
반복 중: 2

In [42]:
n = int(input("양의 정수N을 입력하세요: "))
if n <= 0:
  print("양의 정수를 입력하세요.")
else:
  sum = 0
  for i in range(1, n+1):
    sum += i
  print(f"1부터 {n}까지의 합은 {sum}입니다.")

양의 정수N을 입력하세요: 5
1부터 5까지의 합은 15입니다.

In [43]:
count = 0
print("0부터 9까지 출력:")
while count < 10:
  print(count)
  count += 1
print("while 루프 종료")

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
while 루프 종료

In [52]:
print("0부터 9까지 출력:")
for i in range(10):
  print(i)
print("for 루프 종료")

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
for 루프 종료