In [ ]:
kind = input('온도 종류(섭씨 또는 화씨): ')
temp = int(input(kind+' 온도: '))

if kind == '섭씨':
    print(f'화씨 온도 {temp*9/5+32:.2f}')
else:
    print(f'섭씨 온도 {(temp-32)*5/9:.2f}')

온도 종류(섭씨 또는 화씨): 화씨
화씨 온도: 12
섭씨 온도 -11.11

In [ ]:
import random

print('1부터 100까지의 수 하나를 정했습니다.')
print('이 숫자를 맞혀보세요')

answer= random.randint(1,100)
times = 0

while True:
  user = int(input('1~100 숫자 입력: '))
  times +=1
  if user ==answer:
    break
  elif user <answer:
    print(f'{user}보다 큽니다.')
  else:
    print(f'{user}보다 작습니다.')

print(f'정답입니다! {times}회 만에 맞혔습니다')

1부터 100까지의 수 하나를 정했습니다.
이 숫자를 맞혀보세요
1~100 숫자 입력: 72
72보다 큽니다.
1~100 숫자 입력: 88
88보다 작습니다.
1~100 숫자 입력: 80
80보다 작습니다.
1~100 숫자 입력: 75
75보다 큽니다.
1~100 숫자 입력: 77
정답입니다! 5회 만에 맞혔습니다

In [ ]:
import random
List = []

for i in range(1, 7):
    num=random.randint(1,45)
    List.append(num)

print(List)

[43, 22, 7, 2, 22, 10]

In [33]:
성적 = [85, 92, 78, 90, 87]
평균 = sum(성적) / len(성적)

In [34]:
평균

86.4

In [35]:
성적 = [85, 92, 78, 90, 87]
Average = ((85+92+78+90+87)/5)
print(Average)

86.4

In [42]:
성적 = [85, 92, 78, 90, 87]
총합 = 0
평균 = 0.0
항목수 = 0
for 점수 in 성적:
    총합 += 점수
    항목수+=1
평균=총합/항목수

In [43]:
평균

86.4

In [40]:
총합

87

In [41]:
학생들 = [("철수", 85), ("영희", 92), ("민수", 65), ("지영", 78)]
합격자 = []

for 학생, 점수 in 학생들:
    if 점수 >= 70:
        합격자.append(학생)

print(합격자)  # ['철수', '영희', '지영']

['철수', '영희', '지영']

In [45]:
fruits = ["망고", "복숭아", "딸기"]
print(f"과일 리스트: {fruits}")

과일 리스트: ['망고', '복숭아', '딸기']

In [46]:
first_fruit = fruits[0]
print(f"첫 번째 과일: {first_fruit}")

첫 번째 과일: 망고

In [47]:
last_fruit = fruits[-1]
print(f"마지막 과일: {last_fruit}")

마지막 과일: 딸기

In [48]:
fruits.append("오렌지")
print(f"요소 추가 후 리스트: {fruits}")

요소 추가 후 리스트: ['망고', '복숭아', '딸기', '오렌지']

In [49]:
fruits.remove("딸기")
print(f"요소 삭제 후 리스트: {fruits}")

요소 삭제 후 리스트: ['망고', '복숭아', '오렌지']

In [52]:
numbers = [1, 7, 13, 27, 42]
print("숫자 리스트의 요소:")
for num in numbers:
  print(num)

숫자 리스트의 요소:
1
7
13
27
42

In [53]:
# 문제 4: 리스트 요소 값 변경
colors = ["빨강", "초록", "파랑"]
print(f"원래 색깔 리스트: {colors}")
colors[1] = "노랑" # 인덱스 1의 "초록"을 "노랑"으로 변경
print(f"요소 변경 후 색깔 리스트: {colors}")

원래 색깔 리스트: ['빨강', '초록', '파랑']
요소 변경 후 색깔 리스트: ['빨강', '노랑', '파랑']

In [54]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
print(f"첫 번째 리스트: {list1}")
print(f"두 번째 리스트: {list2}")
# 방법 1: + 연산자 사용
combined_list_plus = list1 + list2
print(f"두 리스트 합치기 (+) 결과: {combined_list_plus}")
# 방법 2: extend() 메서드 사용
list1.extend(list2)
print(f"첫 번째 리스트에 두 번째 리스트 확장 (extend()): {list1}")

첫 번째 리스트: [1, 2, 3]
두 번째 리스트: [4, 5, 6]
두 리스트 합치기 (+) 결과: [1, 2, 3, 4, 5, 6]
첫 번째 리스트에 두 번째 리스트 확장 (extend()): [1, 2, 3, 4, 5, 6]