In [ ]:
#딕셔너리 생성 및 요소 접근
#딕셔너리도 하나의 리스트 키와 값/키와 값/키와 값 n개의값이 있는 리스트라고 볼 수 있다.
#items 매서드는 모든 키와 값 쌍을 순회한다.

In [ ]:
#문제 1: 딕셔너리 생성 및 요소 접근
student = {'name': '김민수', 'age': '20', 'major': '컴퓨터공학'}
print(f"학생 정보 딕셔너리: {student}")

학생 정보 딕셔너리: {'name': '김민수', 'age': '20', 'major': '컴퓨터공학'}

In [ ]:
name = student['name']
print(f"이름: {name}")

이름: 김민수

In [ ]:
age = student['age']
print(f"나이: {age}")

나이: 20

In [ ]:
major = student['major']
print(f"전공: {major}")

전공: 컴퓨터공학

In [ ]:
#문제 2: 딕셔너리 요소 추가 및 삭제
student = {'name': '김민수', 'age': '20', 'major': '컴퓨터공학'}
print(f"원래 학생 정보 딕셔너리: {student}")

원래 학생 정보 딕셔너리: {'name': '김민수', 'age': '20', 'major': '컴퓨터공학'}

In [ ]:
student['grade'] = 4.0 #새로운 키 'grade'와 값 추가
print(f"요소 추가 후 딕셔너리: {student}")

요소 추가 후 딕셔너리: {'name': '김민수', 'age': '20', 'major': '컴퓨터공학', 'grade': 4.0}

In [ ]:
del student['major'] #키 'major'와 값 삭제
print(f"요소 삭제 후 딕셔너리: {student}")

요소 삭제 후 딕셔너리: {'name': '김민수', 'age': '20', 'grade': 4.0}

In [ ]:
#문제 3: 딕셔너리 키와 값 순회하며 출력
fruit_prices = {'사과': 1500,'바나나': 800,'딸기': 3000,'오렌지': 1200}
print("과일 가격 정보:")
for fruit, price in fruit_prices.items():
  print(f"{fruit}: {price}원")

과일 가격 정보:
사과: 1500원
바나나: 800원
딸기: 3000원
오렌지: 1200원

In [ ]:
print("\n과일 목록:")
for fruit in fruit_prices.keys():
  print(fruit)

과일 목록:
사과
바나나
딸기
오렌지

In [ ]:
print("\n가격 목록:")
for price in fruit_prices.values():
    print(f"{price}원")

가격 목록:
1500원
800원
3000원
1200원

In [ ]:
#문제 4; 딕셔너리 요소 값 변경
fruit_prices = {'사과': 1500,'바나나': 800,'딸기': 3000,'오렌지': 1200}
print(f"원래 과일 가격 딕셔너리: {fruit_prices}")

원래 과일 가격 딕셔너리: {'사과': 1500, '바나나': 800, '딸기': 3000, '오렌지': 1200}

In [ ]:
fruit_prices['사과'] = 1800
print(f"가격 변경 후 과일 가격 딕셔너리: {fruit_prices}")

가격 변경 후 과일 가격 딕셔너리: {'사과': 1800, '바나나': 800, '딸기': 3000, '오렌지': 1200}

In [ ]:
#문제 5: 두 개의 딕셔너리 합치기
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 4, 'd':5}
print(f"첫 번째 딕셔너리: {dict1}")
print(f"두 번째 딕셔너리: {dict2}")

첫 번째 딕셔너리: {'a': 1, 'b': 2, 'c': 3}
두 번째 딕셔너리: {'b': 4, 'd': 5}

In [ ]:
dict1.update(dict2)
print(f"두 딕셔너리 합치기 (update() 결과): {dict1}")

두 딕셔너리 합치기 (update() 결과): {'a': 1, 'b': 4, 'c': 3, 'd': 5}

In [ ]:
A, B = map(int, input().split())
print(A + B)

1 2
3

In [ ]:
H = float(input())
W = float(input())
BMI = W/((H/100)**2)
print(round(BMI,2))

156
12
4.93